
<nav class="navbar navbar-expand-lg navbar-dark" style=" background-color: #004170;">
    <a class="navbar-brand" style="margin-left: 10px;" href="#">Illini Bookbridge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/book-search">Book Search</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/favorite-books">My Likes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/best">Best Books/Authors</a>
            </li>
        </ul>

        <% if (user) { %>  <!-- Show this when user is logged in -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/profile2">Profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/logout">Log Out</a>
              </li>
            </ul>
        <% } else { %>  <!-- Show this when user is NOT logged in -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/login">Log In</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
            </ul>
          <% } %>

    </div>
</nav>